/* You can add global styles to this file, and also import other style files */

:root{
    --color-main: #2296f3;
    --color-background: #000000;
    --color-background2: #404049;
    --color-background3: #8080A0;

    --color-grey-transparent: #76767612;
    --color-text: white;

    --color-text-grey:#f0f0f0;

    --c_fallback: black;

    --c_metro_blue: #007DB8;
    --c_metro_red: #d71d24;
    --c_metro_green: #148541;
    --c_tram_saltsjobanan: #028387;
    --c_tram_roslagsbanan: #9f599a;
    --c_tram_sparvagcity: #747770;
    --c_tram_nockebybanan: #627892;
    --c_tram_lidingobanan: #A54905;
    --c_tram_tvarbanan: #B65F1F;
    --c_train_commuterrail: #CC417F;
    --c_bus_blue: #0097da;
    --c_bus_red: #d71d24;
    --c_bus_dark: #000;
    --c_ship: #007DB8;
}

.filterMain{
    filter: brightness(0) saturate(100%) invert(48%) sepia(70%) saturate(2338%) hue-rotate(185deg) brightness(97%) contrast(96%);
}

.filterBlack{
    filter: brightness(0) saturate(100%);
}

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.whiteText{
    color: white;
}
.greyText{
    color: var(--color-text-grey);
}

.centerText {
    text-align: center;
}

button{
    cursor: pointer;
}

.noneClick{
    cursor:default;
}

.roundedBottom{
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.roundedTop{
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.verticalDivide{
    height: 100%;
    max-width: 1px;
    flex: 1 0 1px;
}

body{
    margin: 0;
    background: linear-gradient(358deg, rgb(34 34 34) 0%, rgb(44 44 44) 100%);
    min-height: 100vh;
    color: var(--color-text);
}

html, body {
    min-height: 100%;
}

* {box-sizing:border-box;}

